* {
  scroll-behavior: smooth;
}

/* Style for the font */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
.section-title-shared {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.section-description-shared {
  width: 852px;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;

  /* Font layout  */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.section-margin {
  margin-top: 90px;
}

/* --- SECTION 01 --- */

/* Styles for the navbar section */
.section-navbar {
  /* Abir.H, Download Resume */
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-headline {
  /* Abir.H */
  margin-left: 150px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  text-align: left;
}

/*Styles for the design hero section  */
.img-group {
  margin-top: 26px;
}

.section-hero {
  width: 1440px;
  height: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* Hero-bg */
  background-image: url(../assets/Hero-bg.png);
}

.section-hero-headline {
  /* "In the near future, I hope to become a Developer." */
  width: 998px;

  /* Font layout */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
}

.section-hero-description {
  width: 852px;
  height: 52px;

  /* Style */
  opacity: 0.7;

  /* Font layout*/
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* --- SECTION 02 --- */
.section-why-web-development {
  /* Why web development */
  height: auto;

  /* Auto Layout */
  align-items: center;
  margin-left: 148px;
  margin-right: 152px;
  margin-top: 74px;
  padding: 80px 97px 80px 97px;

  /* Style */
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.img-why-web-development {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
}

.webdev-bullet-point {
  width: 390px;
  margin: 0px;

  /* Font layout */
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.webdev-description {
  width: 468px;

  /* Style */
  opacity: 0.7;

  /* Font layout */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

/* Linear Gradient */
.linear-gradient-top,
.linear-gradient-bottom {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.linear-gradient-mid {
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* --- SECTION 03 --- */
.video-container {
  display: flex;
  width: 1140px;
  margin-bottom: 151px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 32px;
  justify-content: center;
  align-items: center;
  /* Style */
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}

/* --- SECTION 04 --- */
.coding-skill-section .coding-skill-container {
  display: flex;
  width: 1140px;
  margin: auto;
  margin-bottom: 111px;
}

.html-container,
.css-container,
.javascript-container {
  width: 364px;

  /* Auto layout */
  padding: 40px;

  /* Style */
  border-radius: 16px;
}

.html-container {
  background: rgba(255, 76, 30, 0.05);
  margin-right: 24px;
}

.css-container {
  background: rgba(0, 76, 232, 0.05);
  margin-right: 24px;
}

.javascript-container {
  background: rgba(255, 223, 0, 0.05);
}

.coding-skill-title {
  /* Font layout */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}

.coding-skill-subtitle {
  width: 284px;
  /* Font layout */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.coding-skill-link {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration-line: underline;
}

/* --- SECTION 05 --- */
.support-form-container {
  background-image: url(../assets/handshake.jpg);
  background-position: center;
  width: 1044px;
  margin-left: 150px;
  margin-right: 150px;
  margin: auto;
  margin-bottom: 80px;

  /* Auto layout */
  padding: 64px 48px 64px 48px;
  border-radius: 16px;
}

.support-form-title {
  /* Font layout */
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.support-form-subtitle {
  width: 606px;
  margin: 16px auto 24px;

  /* Style */
  opacity: 0.7;

  /* Font layout */
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.support-email-container {
  display: flex;
  justify-content: center;
}

.support-email-box {
  width: 548px;
  justify-content: left;
  align-items: center;
  padding: 19px 20px 19px 20px;
  margin-right: 20px;

  /* Style */
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);

  /* Font layout */
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}

/* --- SECTION 06 --- */
.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* Style */
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);

  /* Font layout */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.footer-link {
  display: flex;
}

.facebook-link {
}

.github-link {
  margin-left: 24px;
  margin-right: 24px;
}

/* Styles for the button section */
.btn-navbar {
  /* Download Resume */
  margin-right: 166px;
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;

  /* Font layout */
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.btn-section-hero {
  /* Auto layout */
  justify-content: center;
  align-items: center;
  padding: 21px 24px 21px 24px;

  /* Style */
  border-radius: 8px;
  background: rgb(13, 19, 33);

  /* Font layout */
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.btn-learn-more {
  /* Auto Layout */
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;

  /* Style */
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;

  /* Font layout */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.btn-hyperlink {
  text-decoration: none;
}

.btn-support-form {
  padding: 17px 20px 17px 20px;

  /* Style */
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border-style: none;

  /* Font layout */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
